@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.5)), url(https://crehana-blog.s3.amazonaws.com/media/filer_public/c4/16/c41620e3-dc2f-44d4-a809-6fbde674ce3a/fondos-pantalla-pc-3d-4.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        position: relative;
        min-height: 100vh;
        align-items: center;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
    }

    .nombre {
        border-radius: 15px;
        color: rgba(255, 251, 254, 0.789);
        font-size: 25px;
        transition: .8s;
        margin-top: 10px;
    }

    .menu .navbar ul li {
        position: relative;
        float: left;

    }

    .menu .navbar ul li a {
        font-size: 25px;
        padding: 20px;
        color: aliceblue;
        display: block;
        transition: .6s;
        border-radius: 15px;
        
    }

    .menu .navbar ul li a:hover {
        color: #f1df79dd;
        margin-top: 10px;
        padding: 10px 30px;
    }

    #menu {
        display: none;
        
    }

    .menu-icono {
        width: 25px;
    }

    .menu label {
        cursor: pointer;
        display: none;
        margin-bottom: 50px;
    }

    .header-txt  {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 50px;
        width: 100%;
        font-size: 35px;
        line-height: 70px;
        font-weight: 60px;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Roboto Condensed", sans-serif;
    }

    .enlaces p {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 20px;
        font-size: 25px;
        line-height: 30px;
        font-weight: 60px;
        color: #ffffff;
        font-family: "Roboto Condensed", sans-serif;
    }

    .btn {
        width: 20%;
        position: relative;
        display: flex;
        justify-content: center;
        color: azure;
        padding: 15px 20px;
        margin: 20px 28rem;
        font-size: 25px;
        border-radius: 25px;
        background-color: #f1bd79dd;
        font-family: "Roboto Condensed", sans-serif;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
        transition: .7s;
    }

    .btn:hover {
        background-color: aliceblue;
        color: black;
    }
